body {
    background-color: #6fbf71;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
  }

  .jake {
    justify-content: flex-start; !important;
    align-items: flex-start; !important;
    width: 200px;
    height: 250px;
 }

  .head {
    position: fixed;
    background-color: #f4d03f; /* Yellow */
    border: 2px solid #000; /* Black */
    width: 120px;
    height: 100px;
    border-radius: 50%;
    top: 40px;
    left: 40px;
  }

  .face-clean1 {
    position: fixed;
    background-color: #f4d03f; /* Yellow */
    width: 70px;
    height: 20px;
    border-radius: 50%;
    top: 50px;
    left: 60px; 
  }

  .tail {
    position: fixed;
    width: 50px;
    height: 25px;
    background-color: #f4d03f; /* Yellow */
    border: 2px solid #000; /* Black */
    transform: skew(20deg);
    top: 175px;
    left: 40px;
    transition: 0.3s;
  }
  
    /* ANIMATION */
    .tail:hover {
    height: 55px;
    top: 145px;
    left: 35px;
    }

  .left-leg {
    position: fixed;
    width: 12px;
    height: 80px;
    background-color: #f4d03f; /* Yellow */
    border: 2px solid #000; /* Black */
    top: 175px;
    left: 55px;      
  }

  .left-foot {
    position: fixed;
    width: 20px;
    height: 10px;
    background-color: #f4d03f; /* Yellow */
    border: 2px solid #000; /* Black */
    border-radius: 50%;
    top: 255px;
    left: 55px;      
  }

  .right-leg {
    position: fixed;
    width: 12px;
    height: 80px;
    background-color: #f4d03f; /* Yellow */
    border: 2px solid #000; /* Black */
    top: 175px;
    left: 125px;      
  }

  .right-foot {
    position: fixed;
    width: 20px;
    height: 10px;
    background-color: #f4d03f; /* Yellow */
    border: 2px solid #000; /* Black */
    border-radius: 50%;
    top: 255px;
    left: 125px;      
  }
  
  .jake-body {
    position: fixed;
    background-color: #f4d03f; /* Yellow */
    border: 2px solid #000; /* Black */
    width: 120px;
    height: 175px;
    border-radius: 50%;
    top: 60px;
    left: 40px;
  }

  .left-eye {
    position: fixed;
    background-color: #000; /* Black */
    width: 40px;
    height: 40px;
    border-radius: 75%;
    top: 60px;
    left: 60px;
  }
  
  .left-eye-white {
    position: fixed;
    background-color: #ffffff; /* White */
    width: 30px;
    height: 30px;
    border-radius: 75%;
    top: 63px;
    left: 67px;
  }

  .right-eye {
    position: fixed;
    background-color: #000; /* Black */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 60px;
    left: 110px;
  }

  .right-eye-white {
    position: fixed;
    background-color: #ffffff; /* White */
    width: 30px;
    height: 30px;
    border-radius: 75%;
    top: 63px;
    left: 113px;
  }

  .snout1 {
    position: fixed;
    background-color: #f4d03f; /* Yellow */
    border: 2px solid #000; /* Black */
    width: 50px;
    height: 60px;
    border-radius: 50%;
    top: 75px;
    left: 75px;
  }

  .snout2 {
    position: fixed;
    background-color: #000;  /* Black */
    width: 20px;
    height: 15px;
    border-radius: 50%;
    top: 90px;
    left: 92px;
  }

  .face-clean2 {
    position: fixed;
    background-color: #f4d03f; /* Yellow */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 125px;
    left: 92px;
  }

  .mouth {
    position: fixed;
    border: 2px solid #000; /* Black */
    width: 12px;
    height: 16px;
    border-radius: 10px;
    top: 95px;
    left: 95px;
    transition: 0.3s;
  }
  
    /* ANIMATION */
    .mouth:hover {
    height: 55px;
    }

  .left-arm {
    position: fixed;
    width: 10px;
    height: 30px;
    background-color: #f4d03f; /* Yellow */
    border: 2px solid #000; /* Black */
    transform: skew(10deg);
    top: 150px;
    left: 55px;
  }
  
  .left-hand {
    position: fixed;
    width: 18px;
    height: 8px;
    background-color: #f4d03f; /* Yellow */
    border: 2px solid #000; /* Black */
    border-radius: 50%;
    top: 175px;
    left: 57px;   
  }

  .right-arm {
    position: fixed;
    width: 10px;
    height: 30px;
    background-color: #f4d03f; /* Yellow */
    border: 2px solid #000; /* Black */
    transform: skew(-10deg);
    top: 150px;
    left: 145px;
  }
  
  .right-hand {
    position: fixed;
    width: 18px;
    height: 8px;
    background-color: #f4d03f; /* Yellow */
    border: 2px solid #000; /* Black */
    border-radius: 50%;
    top: 175px;
    left: 135px;   
  }
  
  .jake::after {
    content: "Dina Rodriguez 19566";
  }
  .jake::before {
    content: "UVG - LAB 4";
  }

  .jake::first-line{
    font-weight: bold;
  }
  .jake::first-letter{
    font-size: 20px;
  }